<div class="episodesContainer">
  <mat-form-field class="example-form-field">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="query" (input)="onSearch()">
    <button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-paginator #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [hidePageSize]="hidePageSize"
    aria-label="Select page">
  </mat-paginator>

  <div *ngFor="let episode of episodes" class="cardContainer">
    <app-episode-card *ngIf="episode" [episode]="episode" class="card"></app-episode-card>
  </div>
  <span>{{error}}</span>
</div>
